@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600&display=swap");
* {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 400;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .next-error-h1 {
    border-right: 1px solid rgba(0, 0, 0, 0.3) !important;
  }
}
